@using DALGame

@model DALGame.Game
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (@Html.BeginForm())
{
    @Html.HiddenFor(model => model.Id)
    <b>@Html.LabelFor(model => model.GameTitle):</b> @Html.EditorFor(model => model.GameTitle)
    <b>@Html.LabelFor(model => model.Price):</b>@Html.EditorFor(model => model.Price)

    <input type="Submit" value="edit Game" />

}

@Html.ActionLink("Index","Index")

