 
@{
    ViewBag.Title = "Changed ACtion3";
}

<h2>Action3</h2>
<p>@ViewBag.Message</p>
<p>The date today is @ViewBag.Date.DayOfWeek</p>
<p>@ViewData["Message"]</p>
<p>@ViewData["Current Date"]</p>
<p>@TempData["My Data"]</p>

